footer{
    background-color: black;
    color: white;
    padding: 40px 0;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.social a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    
}
.social a:hover{
    color: #ffcc00;
}



@media (min-width:200px) and (max-width:525px) {
    footer{
    background-color: black;
    color: white;
    padding: 40px 0;
    margin-top: 10px;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 40px;

}

.social a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 8px;
    
}
.social a:hover{
    color: #ffcc00;
}
}

@media (min-width:526px) and (max-width:768px)  {
    footer{
    background-color: black;
    color: white;
    padding: 40px 0;
    /* margin-top: 600px; */

}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 40px;

}

.social a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 8px;
    
}
.social a:hover{
    color: #ffcc00;
}
}