*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero{
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(building.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.hero-content h1{
    font-size: 48px;
    /* margin-bottom: 10px; */
}
.hero-content p{
    font-size: 20px;
    margin-bottom: 20px;
}
.btn, .btn-secondary{
    color: white;
    text-decoration: none;
    background-color: #ffcc00;
    padding: 12px 25px;
    color: black;
    border-radius: 8px;
    margin: 5px;
     font-weight: 500;
}
.btn:hover, .btn-secondary:hover{
    font-weight: 700;
    opacity: 0.5;
}

.about{
    padding: 60px 0;
    text-align: center;
}
.about h2{
    margin-bottom: 15px;
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    
}
.card{
    padding: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px  rgba(0,0,0,0.5);
}
.stats{
    background-color: #003366;
    padding: 60px;
    color: white;

}
.stats-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.gallery{
    padding: 60px 40px;
    text-align: center;
    margin: 0 auto;
}
.imgs-box{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin: 0 auto;
}
.imgs-box img{
    max-width: 360px;
    width: 100%;
    height: 250px;
    border-radius: 8px;
    
    margin: 0 auto;
    

}
.gallery h2{
    margin-bottom: 20px;
}

footer{
    background-color: black;
    color: white;
    padding: 40px 0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.social a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 8px;
    
}
.social a:hover{
    color: #ffcc00;
}

@media (min-width:200px) and (max-width:525px) {

    .container{
    width: 85%;
    margin: auto;
}
header{
    background-color:#003366;
    padding: 15px 0;
    color: white;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav ul a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
nav ul a:hover{
    
    color: #ffcc00;
    
}
.hero{
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)) 
    , url(building.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
}
.hero-content h1{
    font-size: 24px;
    /* margin-bottom: 10px; */
}
.hero-content p{
    font-size: 16px;
    margin-bottom: 20px;
}
.btn, .btn-secondary{
    color: white;
    text-decoration: none;
    background-color: #ffcc00;
    padding: 10px 20px;
    color: black;
    border-radius: 8px;
    margin: 5px;
     font-weight: 500;
     white-space: nowrap;
     /* margin-top: 20px; */
}
.btn:hover, .btn-secondary:hover{
    font-weight: 500;
    opacity: 0.5;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.about{
    padding: 60px 0;
    text-align: center;
}
.about h2{
    margin-bottom: 15px;
    font-size: 22px;
}
.about p{
    font-size: 14px;
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    
}
.card{
    padding: 10px;
    background-color: #f4f4f4;
    
    border-radius: 15px;
    box-shadow: 0 4px 8px  rgba(0,0,0,0.5);
}
.quality-heading h2,.experiencedteachers-heading h2, .smallclassrooms-heading h2{
    font-size: 16px;
}
.quality-heading p, .experiencedteachers-heading p, .smallclassrooms-heading p{
    font-size: 12px;
}
.stats{
    background-color: #003366;
    padding: 10px;
    color: white;


}
.statsbox h2{
    font-size: 13px;
}
.statsbox p{
    font-size: 10px;
}
.stats-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}
.gallery{
    padding: 60px 40px;
    text-align: center;
    margin: 0 auto;
}
.imgs-box{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
            justify-content: center;
        align-items: center;
}
.imgs-box img{
    max-width: 300px;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    
    

}

footer{
    background-color: black;
    color: white;
    padding: 40px 0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.social a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 8px;
    
}
.social a:hover{
    color: #ffcc00;
}

}
@media (min-width:526px) and (max-width:768px) {

    .container{
    width: 85%;
    margin: auto;
}
header{
    background-color:#003366;
    padding: 15px 0;
    color: white;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav ul a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
nav ul a:hover{
    
    color: #ffcc00;
    
}
.hero{
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) 
    , url(building.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
}
.hero-content h1{
    font-size: 24px;
    /* margin-bottom: 10px; */
}
.hero-content p{
    font-size: 16px;
    margin-bottom: 20px;
}
.btn, .btn-secondary{
    color: white;
    text-decoration: none;
    background-color: #ffcc00;
    padding: 10px 20px;
    color: black;
    border-radius: 8px;
    margin: 5px;
     font-weight: 500;
     white-space: nowrap;
     /* margin-top: 20px; */
}
.btn:hover, .btn-secondary:hover{
    font-weight: 500;
    opacity: 0.5;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.about{
    padding: 60px 0;
    text-align: center;
}
.about h2{
    margin-bottom: 15px;
    font-size: 22px;
}
.about p{
    font-size: 14px;
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    
}
.card{
    padding: 10px;
    background-color: #f4f4f4;
    
    border-radius: 15px;
    box-shadow: 0 4px 8px  rgba(0,0,0,0.5);
}
.quality-heading h2,.experiencedteachers-heading h2, .smallclassrooms-heading h2{
    font-size: 16px;
}
.quality-heading p, .experiencedteachers-heading p, .smallclassrooms-heading p{
    font-size: 12px;
}
.stats{
    background-color: #003366;
    padding: 30px;
    color: white;


}
.stats-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}
.gallery{
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* margin: 10px; */

}
.imgs-box{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
        align-items: center;
    
    /* margin-top: 30px; */
}
.imgs-box img{
    max-width: 250px;
    width: 100%;
    height: 250px;
    border-radius: 8px;
    display: block;
    
    

}

footer{
    background-color: black;
    color: white;
    padding: 40px 0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.social a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 8px;
    
}
.social a:hover{
    color: #ffcc00;
}

}


@media (min-width:769px) and (max-width:1189px){
    .gallery{
    padding: 60px 40px;
    text-align: center;
    margin: 0 auto;
}
.imgs-box{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
            justify-content: center;
        align-items: center;
}
.imgs-box img{
    max-width: 360px;
    width: 100%;
    height: 250px;
    border-radius: 8px;
    
    

}
}
